.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-form-1 {
  height: 596px;
  margin: 41px 78px 0 492px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -544px 735px 0 78px;
}

.u-section-1 .u-text-2 {
  margin: 42px 735px 60px 78px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
    margin-top: 52px;
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 52px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 179px;
    margin-right: 613px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }
}