.u-section-1 .u-sheet-1 {
  min-height: 406px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 61px auto 0;
}

.u-nav u-unstyled u-nav-1 li{
    color: black;         
}

.u-section-1 .u-form-1 {
  height: 78px;
  width: 655px;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px 419px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -32px auto 10px 344px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-right: 219px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 284px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 103px;
  }
}