<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LogginFilter</filter-name>
        <filter-class>com.fptuni.prj301.filter.LogginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.fptuni.prj301.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogginFilter</filter-name>
        <servlet-name>UserController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AccessController</servlet-name>
        <servlet-class>com.fptuni.prj301.controller.AccessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.fptuni.prj301.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.fptuni.prj301.controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupportController</servlet-name>
        <servlet-class>com.fptuni.prj301.controller.SupportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>com.fptuni.prj301.controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.fptuni.prj301.controller.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessController</servlet-name>
        <url-pattern>/Access</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupportController</servlet-name>
        <url-pattern>/SupportController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController/*</url-pattern>
    </servlet-mapping>
    <!--param for upload product image-->
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            <!--mng tự sửa địa chỉ này thành đường dẫn tới thư mục images của riêng(lưu ý: để đường dẫn tuyệt đối)-->
            E:/FPT/SEM4_PRJ301/prj301-se1615-02/prj301-assignment/src/main/webapp/images/
        </param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
